.login-body {
	margin-top: 150px;
	background-color: #ddd;
}
.white-body {
	background-color: #fff;
	padding-bottom: 15px;
	border-radius: 4px;
}
.login-header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.login-header h1 {
	margin: 7px;
	font-size: 16px;
}

.admin-body {
	margin-top: 10px;
}

.big-title {
	font-size: 5em;
}
.kanan {
	float: right;
}
.tinggi-body {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}
.table-inner {
	overflow-x: scroll;
	width: 100%;
}
.footer-nav {
	background-color: #333;
	border-radius: 0;
	border: 0;
	color: #fff;
	margin-bottom: 0;
}

/* reset bootstrap */
a {
    color: #333;
}
a:focus, a:hover {
    color: #96281B;
    text-decoration: none;
}

.navbar-nav > li,.navbar-nav,.navbar-header {
	float: none;
}
.navbar-collapse {
	padding: 0;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}
.navbar-admin .navbar-toggle .icon-bar {
    background-color: #888;
}
.panel-default > .panel-heading {
	background-color: #eee;
}
.navbar-clean .navbar-toggle .icon-bar {
	background-color: #888;
}
.navbar-nav > li, .navbar-nav, .navbar-header {
	margin-left: -15px;
	margin-right: -15px;
}
.panel-title > a {
	display: block;
}
/* end reset */